[project]
	description = Java EE 6 Enterprise JavaBeans Developer Certified Expert Exam 1Z0-895 learning.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Greg Maslowski (gmaslowski)
[access "refs/for/refs/*"]
	read = group user/Greg Maslowski (gmaslowski)
	push = group user/Greg Maslowski (gmaslowski)
	label-Code-Review = -2..+2 group user/Greg Maslowski (gmaslowski)
	label-Verified = -1..+1 group user/Greg Maslowski (gmaslowski)
	rebase = group user/Greg Maslowski (gmaslowski)
	removeReviewer = group user/Greg Maslowski (gmaslowski)
	submit = group user/Greg Maslowski (gmaslowski)
[access "refs/heads/*"]
	read = group user/Greg Maslowski (gmaslowski)
	create = group user/Greg Maslowski (gmaslowski)
	push = +force group user/Greg Maslowski (gmaslowski)
	pushMerge = group user/Greg Maslowski (gmaslowski)
[access "refs/tags/*"]
	push = +force group user/Greg Maslowski (gmaslowski)
	pushTag = group user/Greg Maslowski (gmaslowski)
	pushSignedTag = group user/Greg Maslowski (gmaslowski)
